@font-face {
    font-family: 'Harmony';
    font-weight: normal;
    font-style: normal;
    src: url('https://cos.amiyabot.com/resource/HarmonyOS_Sans_SC.ttf');
}

* {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, 'Harmony' !important;
}


.home:before {
    content: '';
    width: 100vw;
    height: 100vh;
    position fixed;
    top: 0;
    left: 0;
    background: url(/bg.svg) center / cover no-repeat;
}

.home > .hero > img {
    margin-top: 40px !important;
}

.title > br:last-child {
    display: none;
}

.footer-wrapper {
    width: 100vw;
    background-color: #fff;
    position fixed;
    bottom: 0;
    left: 0;
}
